html {
    background: #FFF;
    color: #000;
}

body {
    margin: 60px auto;
    width: 70%;
}

h1, h2, h3, h4, nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #428bca;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

p, .post ul li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #000;
}

.post {
    border-bottom: 1px solid #D5D5D5;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;

}

pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.7;
    background-color: #5f656f;
    border-radius: 5px;
}

code {
    background-color: #5f656f;
    color: #e1ecf3;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: 0 auto 60px auto;
    line-height: 26px;
    padding-top: 40px;;
}
