$links: #0000FF;

html {
    background: #FFF;
    color: #000;
}

header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    opacity: 0.75;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 50;
}

h1, h2, h3, h4, nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: $links;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2em;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

p, .post ul li {
    font-size: 1em;
    line-height: 1.4em;
    color: #000;
    text-align: justify;
}

time {
    
    font-size: 1em;
    line-height: 2.4em;
    color: #000;
    text-align: justify;
}

.post {
    border-bottom: 1px solid #D5D5D5;
}

footer {
    border-top: 1px solid #d5d5d5;
    padding-top: 3px;
    font-size: 2.8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.1em;
}

ul.posts li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.7;
    background-color: #000;
    border-radius: 5px;
    color: #07f31b;
}

code {
    background-color: #000;
    color: #e1ecf3;
    font-weight: bold;
}

.container {
    padding-top: 100px;;
}

.header-bar {
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    line-height: 3em;
    z-index: 25;
}

.header-bar h1 {    
    color: $links;
    font-size: 75px;
    font-weight: 100;
}

blockquote {
    border: 1px solid #b3b3b3;
    border-left: 10px solid #b3b3b3;
    border-radius: 0px;
    background: #fafafa;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
}
 
blockquote p {
    margin: 0;
    line-height: 30px;
    padding-bottom: 20px;
}
 
blockquote .small {
    display: block;
    font-size: 80%;
    color: brown;
    text-align: right;
} 

@media print {
	code {
		color: #000;
		background: #fff;
	}
	pre {
		color: #000;
	}
}
