body {
    margin: 60px auto;
    width: 70%;
}

h1, h2, nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #428BCA;
}
a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


p, .post ul li {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

.post {
    border-bottom: 1px solid #D5D5D5;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;

}

pre {
    padding: 10px;
    overflow: auto;
    line-height: 1.7;
    background-color: #F7F7F7;
    border-radius: 5px;
}