<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robot" content="index, follow" >
		<meta name="description" content="{{ page.description }}">
		<meta name='coverage' content='Worldwide'>
		<meta name='distribution' content='Global'>
		<meta name='rating' content='General'>
		<meta name='HandheldFriendly' content='True'>
        <meta name='MobileOptimized' content='320'>
		<meta name='target' content='all'>
		<meta name='subject' content="{{ page.subject }}">
		<meta name="author" content="Abhishek Kumar" >
		<meta name="google-site-verification" content="8VeRYbfmuXRpmWpX9bx5shd8ReHh05WvB_1i8R-qZes" />
		<link href='https://plus.google.com/u/0/107840251139801164863' rel='publisher' />
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">


			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:mr.kumar.abhishek@email.com">email</a></li>
        		<li><a href="http://mr-kumar-abhishek.github.io/blog/atom.xml">RSS</a></li>
        		<li><a href="https://github.com/Mr-Kumar-Abhishek">github</a></li>
        		<li><a href='https://twitter.com/mr_kumar_'>Twitter</a>
			</ul>
		</footer>
		{% include analytics.html %}
	</body>
</html>