---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="robot" content="index, follow" >
		<meta name="keywords" content="{{ page.keywords }}" >
		<meta name="description" content="{{ page.description }}">
		<meta name='subject' content="{{ page.subject }}">
		<meta name="author" content="Abhishek Kumar" >
		<meta name='coverage' content='Worldwide'>
		<meta name='distribution' content='Global'>
		<meta name='rating' content='General'>
		<meta name='HandheldFriendly' content='True'>
        <meta name='MobileOptimized' content='320'>
		<meta name='target' content='all'>
		<meta name="apple-mobile-web-app-title" content="{{ page.apple-title }}">
		<meta name='apple-mobile-web-app-capable' content='yes'>
		<meta name='apple-touch-fullscreen' content='yes'>
		<meta name='application-name' content="{{ page.app-name }}">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Mr_Kumar_" />
		<meta name="twitter:title" content="{{ page.tweet-title }}" />
		<meta name="twitter:description" content="{{ page.tweet-description }}" />
		<meta name="twitter:image" content="https://lh3.googleusercontent.com/fcQUKg48xJwSZOnji01OsxAFKRB11esQZOfomDzWoSPQkvOHV0ulXVgfj3i2nkdB5ds5kMNq=w1280-h800-no" />
		<meta property="og:title" content="{{ page.og-title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ page.og-url }}" />
		<meta property="og:image" content="https://lh3.googleusercontent.com/fcQUKg48xJwSZOnji01OsxAFKRB11esQZOfomDzWoSPQkvOHV0ulXVgfj3i2nkdB5ds5kMNq=w1280-h800-no" />
		<meta name="google-site-verification" content="8VeRYbfmuXRpmWpX9bx5shd8ReHh05WvB_1i8R-qZes" />
		<meta name="msvalidate.01" content="FA22539947E5CA518A74ABD193C59C65" />
		<link rel="canonical" href="{{ page.canonical-url }}" />
		<link href='https://plus.google.com/u/0/107840251139801164863' rel='publisher' />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://mr-kumar.tk/js/serviceLoader.js"></script>
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="https://mr-kumar.tk/blog/atom.xml" rel="alternate" title="atom" type="application/atom+xml">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="https://mr-kumar-abhishek.github.io">Abhishek Kumar</a>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/blog">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.paypal.me/369kumar">Donate </a>
					</li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 col-md-10 col-sm-12">

					{{ content }}
					
				</div>
			</div>
		</div>
		<footer class="text-center">
    		<ul>
        		<li><a href="mailto:contactabhishek@protonmail.ch"><i title="email" class="fas fa-envelope-square"></i></a></li>
        		<li><a href="http://mr-kumar-abhishek.github.io/blog/atom.xml"><i title="RSS" class="fas fa-rss-square"></i></a></li>
        		<li><a href="https://github.com/Mr-Kumar-Abhishek"><i title="github" class="fab fa-github-square"></i></a></li>
        		<li><a href='https://twitter.com/mr_kumar_'><i title="twitter" class="fab fa-twitter-square"></i></a>
			</ul>
		</footer>
		{% include analytics.html %}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://mr-kumar.tk/js/main.js"></script>
		{% include sw.html %}
	</body>
</html>
