---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robot" content="index, follow" >
		<meta name="keywords" content="{{ page.keywords }}" >
		<meta name="description" content="{{ page.description }}">
		<meta name='subject' content="{{ page.subject }}">
		<meta name="author" content="Abhishek Kumar" >
		<meta name='coverage' content='Worldwide'>
		<meta name='distribution' content='Global'>
		<meta name='rating' content='General'>
		<meta name='HandheldFriendly' content='True'>
        <meta name='MobileOptimized' content='320'>
		<meta name='target' content='all'>
		<meta name="apple-mobile-web-app-title" content="{{ page.apple-title }}">
		<meta name='apple-mobile-web-app-capable' content='yes'>
		<meta name='apple-touch-fullscreen' content='yes'>
		<meta name='application-name' content="{{ page.app-name }}">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Mr_Kumar_" />
		<meta name="twitter:title" content="{{ page.tweet-title }}" />
		<meta name="twitter:description" content="{{ page.tweet-description }}" />
		<meta name="twitter:image" content="https://lh3.googleusercontent.com/fcQUKg48xJwSZOnji01OsxAFKRB11esQZOfomDzWoSPQkvOHV0ulXVgfj3i2nkdB5ds5kMNq=w1280-h800-no" />
		<meta property="og:title" content="{{ page.og-title }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ page.og-url }}" />
		<meta property="og:image" content="https://lh3.googleusercontent.com/fcQUKg48xJwSZOnji01OsxAFKRB11esQZOfomDzWoSPQkvOHV0ulXVgfj3i2nkdB5ds5kMNq=w1280-h800-no" />
		<meta name="google-site-verification" content="8VeRYbfmuXRpmWpX9bx5shd8ReHh05WvB_1i8R-qZes" />
		<link rel="canonical" href="{{ page.canonical-url }}" />
		<link href='https://plus.google.com/u/0/107840251139801164863' rel='publisher' />
		
		<!-- link to the boostrap stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="/blog/atom.xml" rel="alternate" title="atom" type="application/atom+xml">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">


			{{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:mr.kumar.abhishek@email.com">email</a></li>
        		<li><a href="http://mr-kumar-abhishek.github.io/blog/atom.xml">RSS</a></li>
        		<li><a href="https://github.com/Mr-Kumar-Abhishek">github</a></li>
        		<li><a href='https://twitter.com/mr_kumar_'>Twitter</a>
			</ul>
		</footer>
		{% include analytics.html %}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
